.card-container {
    width: 700px;
    height: 500px;
}
input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box; 
    outline: none;
}

img {
    -webkit-animation: mover 0.3s infinite ease-in-out  alternate;
    animation: mover 1s infinite  alternate;
}
img {
    -webkit-animation: mover 0.3s infinite ease-in-out alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
